.navbar {
  background:linear-gradient(45deg,pink 18%, cyan 10%,pink 10% ,transparent, cyan, gray, pink);
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 1000;
  transition: top 0.3s ease;
}

.hidden {
  top: -100px;  /* Move the navbar out of view */
}


#logo{
    color:black;
    font-size: 1.5rem;
}

.nav-links{
    display :flex;
    list-style: none;
   justify-content: space-between;
   margin-right: 30px;
   width: 100%;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a{
color:black;
text-decoration: none;
font-size:1.2rem;

}

.nav-links a:hover{
color:#aaa;
text-decoration: underline;
}
